 <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!--navbar-light bg-light -->
  <%= link_to 'Aiirbnb', root_path, { :class=>"navbar-brand" } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if (!user_signed_in?) %>
          <li><%= link_to 'Inscription', new_user_registration_path, { :class=>"nav-item nav-link" } %></li>
          <li><%= link_to 'Connexion', new_user_session_path, { :class=>"nav-item nav-link" } %></li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %>
            <%= current_user.fullname %>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a><%= link_to "Mes voyages", root_path, { :class=>"dropdown-item" } %></a>
              <a><%= link_to 'Modifier mon profil', edit_user_registration_path, { :class=>"dropdown-item" } %></a>
              <a role="separator" class="divider"></a>
              <a class="dropdown-item"><%= link_to 'Déconnexion', destroy_user_session_path, { method: :delete, :class=>"dropdown-item" }%></a>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
